.homepage {
    width: 80%;
    margin: 2px auto;
    position: relative;
}
.hero{
    background-image:url("../../assets/hero-image-1.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-bottom: 150px;
   

}

.hero_text{
    width: 40%;
    padding-left: 50px;
    padding-top: 100px ;
    font-weight: 700;
   
}
.hero_text h1{
    font-size: 3rem;
    padding-top: 13px;
    color: rgb(10,10,10);
}

.hero_text h4{
    font-size: 1.3rem;
    color: gb(10,10,10);  
}

.Search{
    position: absolute;
    bottom: -48px;
    left: 0;
    right: 0;
    width: 50%;
    padding-bottom: 20px;
    border: 1px solid rgb(223, 221, 221);
    height: 120px;
    background-color: rgb(223, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Search h4 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.Search_Items {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.Search_input{
    position: relative;
    padding: 15px;
    width: 90%;
    height: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.searchBtn{ 
    position: absolute;
    width: 10%;
    bottom: 0;
    background-color: rgb(1, 100, 80);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.partner{
    width: 80%;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
}
img{
    width: 100px;
    height: 44px;
    align-items: center;
    cursor: pointer;    
}
.master {
    margin-left: 50px;
} 
@media screen and (max-width: 790px) {
    .homepage {
        width: 100%;
    }
       .hero_text{
    width: 100%;
    text-align: center;
    }
    .hero_text h1{
        font-size: 2.7rem;
        padding-top: 13px;
    }
    .hero_text h4{
    font-size:  1.7rem; 
    }
}

@media screen and (max-width: 490px) {
    .homepage {
        width: 100%;
    }
    .hero_text{
    width: 100%;
    text-align: center;
    }
    .hero_text h1{
        font-size: 2rem;
        padding-top: 13px;
    }
    .hero_text h4{
    font-size:  1rem; 
}
.Search{
    width: 90%;
    height: 136px;
    bottom: -48px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
   
}
.Search_input{
    padding: 15px;
    width: 100%;
  
}
.partner{
    width: 100%;
}
img{
    width: 60px;
    height: 30px;  
}
img:last-child{
   margin-right: 7px; 
}
.master {
    margin-left: 7px;
}
}