.homepage {
    width: 80%;
    margin: 5px auto;
    position: relative;
}
.hero{
    background-image:linear-gradient(rgba(70, 59, 64, 0.48), rgba(192, 192, 113, 0.5)),url("../../assets/pexels-sevenstorm-juhaszimrus-425047.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-bottom: 150px;
   

}

.hero_text{
    width: 40%;
    padding-left: 50px;
    padding-top: 100px ;
    font-weight: 700;
}
.hero_text h1{
    font-size: 3rem;
    padding-top: 13px;
   
}

.hero_text h4{
    font-size: 1.3rem;
    color: gray;
    
}

.Search{
    position: absolute;
    bottom: -30px;
    left: 43px;
}
.Search_options {
    display: flex;
    width: 100%;
  
}

.Search_options .buy{
    width: 100px;
    padding: 5px;
    height: 41px;
    border-top-left-radius: 10px;
    border: transparent !important;
    cursor: pointer;
}
.buy:active {
    background-color: brown;  
}

.sell{
    width: 100px;
    padding: 5px;
    height: 41px;
    border: transparent !important;
    cursor: pointer;
}
.sell:active {
    background-color: brown;  
}
.Search_options .rent {
    width: 100px;
    padding: 5px;
    height: 41px;
    border-top-right-radius: 10px;
    border: transparent !important;
    cursor: pointer;
}
.rent:active {
    background-color: brown;  
}
.Search_inputs {
    width: 463px;
    height: 55px;
    background-color: rgb(223, 221, 221);
    border: 1px solid rgb(223, 221, 221);
    border-radius: 10px; 
}
.location{
    width: 122px;
    height: 40px;
    border: transparent !important;
}
.Price {
    width: 122px;
    height: 40px;
    border: transparent !important;
}
.type {
    width: 122px;
    height: 40px;
    border: transparent !important;
}
img{
    width: 100px;
    height: 60px;
}