.house {
    width: 80%;
    margin: 40px auto;
    position: relative;
    
}
.house-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.house-container-image {
    width: 50%;
    
}
.house_pic1 {
    width: 95%;
    height: 100%;
}
.house-container-text {
    width: 28%; 
    margin-top: 50px;
    margin-left: 30px; 
}
.house-container-text h5{
    color:rgb(1, 100, 80);
    font-weight: 400;
}
.house-container-text h1 {
    font-weight: 700;
    margin-top: 15px;
}
.house-container-text p {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 69px;
    color: gray;
}
button {
    background-color: rgb(1, 100, 80);
    width: 140px;
    height: 35px;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: transparent !important;
    cursor: pointer;
}
.house-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
}
.house-container-text2 {
    width: 40%; 
    margin-top: 50px;
    margin-left: 30px; 
}
.house-container-text2 h5{
    color:rgb(1, 100, 80);
    font-weight: 400;
}
.house-container-text2 h1 {
    font-weight: 700;
    margin-top: 15px;
}
.house-container-text2 p {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 69px;
    color: gray;
}
.house-container-image2 {
    width: 40%;
    
    
}
.house_pic2 {
    width: 99%;
    height: 100%;
    margin-left: 90px;
}
.compare {
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.compare-text {
    width: 42%;
    text-align: center;
    margin: 20px auto;
    font-weight: 700;
    position: relative;
}
.compare-container {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.compare-container-img {
    width: 800px;
    height: 70%;
}
.compare-text-text {
    position: absolute;
    width: 40%;
    height: 190px;
    bottom: 30px;
    right: -210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(255,255,255);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.compare-text-text_icon{
    margin-right: 210px;
}
.compare-text-text p {
    width: 80%;
    text-align: center;
}
.compare-text-profile{
    display: flex;
}
.compare-text-profile span {
    width: 18px;
    border-top: 2px solid rgb(255,101,1);
    margin-top: 5px;
    margin-left: 7px;
}

@media screen and (max-width: 490px) {
    .house {
        width: 100%;     
    }
    .house-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .house-container-image {
        width: 100%;
        margin-right: 0;   
    }
    .house-container-text {
    width: 100%; 
    text-align: center; 
    margin: 0;
}

.house-container-text h1 {
   text-align: center;
}
.house-container-text p {
    text-align: center;
    margin-bottom: 25px;
}
button {
    text-align: center;
    margin-bottom: 25px;
}
.house-container2{
    flex-direction: column;
    flex-wrap: wrap;
}
.house-container-text2 {
    width: 100%;
    margin-left: 0px; 
    text-align: center;
}
.house-container-text2 h5{
    text-align: center;
}
.house-container-text2 h1 {
    text-align: center;
}
.house-container-text2 p {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.house-container-image2 {
    width: 100%;
    margin: 0  
}
.house_pic2 {
    width: 99%;
    height: 90%;
    margin-left: 0px;
}
button {
    text-align: center;
    margin-bottom: 25px;
}
.compare {
    width: 100%; 
    
}
.compare-text {
    width: 92%;
}
.compare-container {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.compare-container-img {
    width: 400px;
    height: 70%;
}
.compare-text-text {
    width: 100%;
    height: 182px;
    bottom: 19px;
    right: -27px;
    justify-content: center;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
}
}


@media screen and (max-width: 790px) {

}