.services{
width: 80%;
margin: 10px auto;
display: flex;
flex-direction: column;
margin: 40px auto;
text-align: center;
margin-bottom: 66px;
}
.services h4{
color: rgb(1, 100, 80);
}
.services h2{
    margin-bottom: 25px;
}
.grid__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 10px;

}
.icon__container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 20px;
}
.icon__container p{
    padding-top: 28px;
}
.icon__container:hover{
    border-bottom: 10px solid rgb(1, 100, 80);
    color:rgb(1, 100, 80);
}
.item__icon {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 30%;
    border-radius: 50%;    
    width: 40%;
    padding-top: 18px;
    align-items: center;
    color:  rgb(255,101,1);
}
.item__icon:active {
    color: rgb(1, 100, 80);
}
@media screen and (max-width: 790px) {
    .services{
        width: 100%;
    }

    .grid__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 10px;
}
.icon__container{
    width: 90%;
    padding: 2px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
}  
@media screen and (max-width: 490px) {
    .services{
        width: 100%;
    }

    .grid__item {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    margin-top: 10px;
}
.icon__container{
    width: 90%;
    padding: 2px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
}
