.buy-apart {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 790px) {
    .buy-apart {
        grid-template-columns: repeat(2, 1fr);  
    }
}

@media screen and (max-width: 490px) {
    .buy-apart {
        grid-template-columns: repeat(1, 1fr);  
    }
}