
.header {
    background-color:  white;
    width: 80%;
    margin:  5px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 57px;
}
a{
    text-decoration: none;
    font-weight: 300;
}
/* a:hover {
    border-bottom: 4px solid brown;
} */
.logo h1 {
    font-weight: 700;
    font-size:30px;
    cursor: pointer;
}
.nav-icon {
    display: none;
    cursor: pointer;
}
.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.nav-options {
    display: flex;
    justify-content: space-between;
}
.nav-options ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;    
}
.nav-options ul  li  {
    text-decoration: none;
    font-weight: 100;
    padding: 5px 10px;
    margin-right: 12px;
    color: black;
    font-size: 20px;
}
a {
    text-decoration: none;
    font-weight: 300;
    list-style: none;
    color: black;
}

.login {
    width: 140px;
    height: 35px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    color: rgb(1, 100, 80);
    border: 2px solid rgb(1, 100, 80) !important;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.login:hover{
    background-color: rgb(1, 100, 80);
    color: white;
    border: none;
}
.login a:hover {
    border-bottom: none;
}

.signup {
    width: 140px;
    height: 35px;
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(1, 100, 80);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    border: transparent !important;
    cursor: pointer;
}
.signup:hover {
    background-color: white;
    color: rgb(63, 92, 74);
    border: 2px solid rgb(63, 92, 74)!important;
    
}
.signup a:hover {
    border-bottom: none;
}

 @media screen and (max-width: 790px) {
    .header {
        width: 100% !important;
        height: 57px;
    }
    a {
        color: #fff
    }
    .logo h1 {
        font-size:20px; 
    }
    .nav-icon {
        display: block;
    }
    .nav {
    flex-direction: column;    
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%; 
    background-color: rgba(0,0,0.8);
    padding: 33px 56px;
    z-index: 200;
}
.nav-options ul {
    flex-direction: column; 
}

.nav-options ul  li  {
  text-align: center;
  color: white;
}
.nav.close {   
    right: -990px !important;
    transition: all 0.5 ease-in-out !important;
}
.nav-button{ 
    display:flex;
    flex-direction: column;
}
.nav-button a:hover{ 
    border-bottom: none;
} 
.login{
    margin-bottom: 10px;
} 
.signup{
    margin-bottom: 10px;
}

}
@media screen and (max-width: 490px) { 
    .header {
        width: 100% !important;
        height: 57px;
      

    }
    a {
        color: #fff
    }
    .logo h1 {
        font-size:20px; 
    }
    .nav-icon {
        display: block;
    }
    .nav {
    flex-direction: column;    
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    padding: 33px 56px;
    z-index: 200;
}
.nav-options ul {
    flex-direction: column;  
   
   
}
.nav-button{ 
    display:flex;
    flex-direction: column;
}
.nav-options ul  li  {
  text-align: center;
  color: white
}
.nav.close {   
    right: -490px !important;
    transition: all 0.5 ease-in-out !important;
}
.login{
    margin-bottom: 10px;
} 
.signup{
    margin-bottom: 10px;
}
} 