.testimony {
    width: 80%;
    margin: 30px auto;
}
.testimony-text {
    width: 40%;
    text-align: center;
    margin: 20px auto;
    font-weight: 700;
    text-align: center;
}
.testimony-text h5{
    color: rgb(1, 100, 80);
}