.search {
    width: 80%;
    margin: 20px auto;
}
.search_container {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.search_input {
    width: 30%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #828282;
    border: 1px solid #d9d9d9;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.search_select {
    width: 30%;
    padding: 5px;
    height: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 14px;
    color: #828282;
    margin-bottom: 5px;
}

@media screen and (max-width: 960px) {
    .search_container {
        flex-direction: column;
    }
    .search_select {
        width: 100%;
    }
    .search_input{
        width: 100%;
    }
    .search_input option{
        width: 20%;
    }
}

@media screen and (max-width: 490px) {
    .search_container {
        flex-direction: column;
    }
    .search_select {
        width: 100%;
    }
    .search_input{
        width: 100%;
    }
    .search_input option{
        width: 20%;
    }
}