@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;700&display=swap')s;
@import "react-alice-carousel/lib/alice-carousel.css";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
